<div class="row fix">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <h3 class="center-align"><%= t('.edit') %></h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
          <div class="row fix">
            <div class="col s12 input-field">
              <%= f.label :email %>
              <%= f.email_field :email, required: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="col s12 m6 input-field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, required: true %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, required: true %>
            </div>

            <div class="col s12 input-field">
              <%= f.label :wallet %>
              <%= f.text_field :wallet, required: true %>
            </div>

            <div class="col s12 input-field file-field">
              <div class="btn waves-effect waves-light">
                <span><%= t('form.image') %></span>
                <%= f.file_field :avatar %>
              </div>

              <div class="file-path-wrapper input-field fix">
                <label for="filename"><%= t('.avatar') %></label>
                <input class="file-path" type="text" id="filename" value="<%= current_user.avatar_identifier %>">
              </div>
            </div>

            <div class="col s12 input-field">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, required: true, autocomplete: "off" %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :password, I18n.t("activerecord.attributes.user.new_password") %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :password_confirmation, I18n.t("activerecord.attributes.user.new_password_confirmation") %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <%= f.button t('.update'), class: "full-width waves-effect waves-light btn-large" %>
            </div>
          </div>
        <% end %>

        <div class="row fix">
          <div class="col s12 center-align">
            <%= button_to t('.destroy'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect btn-flat" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>