<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card">
      <div class="card-content">
        <h3 class="center-align"><%= t('.new') %></h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="col s12 input-field">
              <%= f.label :email %>
              <%= f.email_field :email, autocomplete: "off", autofocus: true, required: true %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autocomplete: "off", required: true %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, autocomplete: "off", required: true %>
            </div>

            <div class="col s12 input-field file-field">
              <div class="btn waves-effect waves-light">
                <span><%= t('.image') %></span>
                <%= f.file_field :avatar %>
                <%= f.hidden_field :avatar_cache %>
              </div>

              <div class="file-path-wrapper input-field fix">
                <label for="filename"><%= t('.avatar') %></label>
                <input class="file-path" type="text" id="filename">
              </div>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", required: true %>
            </div>

            <div class="col s12 m6 input-field">
              <%= f.label :password_confirmation, value: "Password again" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
            </div>
          </div>

          <%# <%= recaptcha_tags %>

          <div class="row">
            <div class="col s12">
              <%= f.button t('.sign_up'), class: "full-width waves-effect waves-light btn-large" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>