.row
  .col.s12
    %h3= t('.my_projects')
  - @projects.each do |project|
    .col.s12
      %a.card.horizontal.small.hoverable#panel{:href => project_path(project)}
        .card-image.hide-on-small-and-down
          .image.hide-on-med-and-up{:style => "background-image: url('http://sm.ign.com/ign_ru/news/f/fallout-4-/fallout-4-survival-mode-to-enter-beta-on-pc-soon_ktf1.jpg');"}          
          .image.hide-on-small-and-down{:style => "background-image: url('http://sm.ign.com/ign_ru/news/f/fallout-4-/fallout-4-survival-mode-to-enter-beta-on-pc-soon_ktf1.jpg');"}
        .card-stacked
          .card-content
            %span.card-title= project.name
            .card-progress
              .current-progress{:style => "width: " << project.progress_percent << ";"}
          .card-action.fix
            .row.fade.fix
              .col.s4
                %b
                  = project.balance
                  BTC
                %br
                = t('project.invested')
              .col.s4
                %b
                  = project.progress_percent
                %br
                = t('project.raised')
              .col.s4
                %b= project.remain
                %br
                = t('project.remains')
.row
  .col.s12
    - if current_user.validated?
      .row
        .col.s12.m6.offset-m3
          = link_to t('.new_project'), new_project_path, class: 'full-width waves-effect waves-light btn-large'
    - else
      .row
        .col.s12.m6.offset-m3          
          %a.full-width.btn-large.disabled.tooltipped{"data-position" => "top", "data-tooltip" => t('.not_validated')}= t('.new_project')
      .row.fix
        .col.s12.m6.offset-m3
          = link_to t('.validate'), new_identification_path, class: 'full-width waves-effect waves-light btn-large'
