.row.fix
  .col.s12
    .card
      %div{:class => reward_class(project.finished)}
        .card-upper
          %span.card-title
            = t('.from')
            %b
              = humanized_money_with_symbol reward.price
          - unless project.finished
            - if current_user
              %a.btn-floating.waves-effect.waves-light.modal-trigger.right{:href => '#' << reward.price.to_s}
                %i.material-icons attach_money
            - else
              %a.btn-floating.disabled.tooltipped.right{"data-position" => "bottom", "data-tooltip" => t('.not_authorized')}
                %i.material-icons attach_money
        .card-content
          %p= reward.description
- unless project.finished
  .modal{:id => reward.price.to_s}
    .modal-content
      .row
        %h6.center-align.black-text.fade= project.user.wallet
      .row
        .center-align= raw @address
      .center-align.fade= t('.agreement', reward: humanized_money_with_symbol(reward.price))
