.row.fix
  .col.s12
    .card
      %div{:class => reward_class(project.finished)}
        .card-upper
          %span.card-title
            = t('.from')
            %b
              = humanized_money_with_symbol reward.price
          - unless project.finished
            - if current_user
              %a.btn-floating.waves-effect.waves-light.modal-trigger.right{:href => '#' << reward.price.to_s}
                %i.material-icons attach_money
            - else
              %a.btn-floating.disabled.tooltipped.right{"data-position" => "top", "data-tooltip" => t('.not_authorized')}
                %i.material-icons attach_money
        .card-content
          %p= reward.description
- unless project.finished
  .modal{:id => reward.price.to_s}
    = form_for [project, @donation] do |f|
      .modal-content
        %h4.center-align= t('.transaction')
        .input-field
          = f.number_field :amount, value: reward.price, step: 0.0001, min: 0.0001, required: true
          = f.label :amount, t('.amount')
        %p.fade= t('.agreement')
      .modal-footer
        = f.button t('.submit'), class: 'modal-action waves-effect btn-flat'
