.row.valign-wrapper.fix
  .col.s8
    %h4= t('.our_choice')
  .col.s4
    %a.btn-flat.waves-effect.right{:href => "#"}= t('.more')
.row.fix
  - 1..3.times do
    = render 'sample_card'
.row.valign-wrapper.fix      
  .col.s8
    %h4= t('.popular')
  .col.s4
    %a.btn-flat.waves-effect.right{:href => "#"}= t('.more')
.row.fix
  - 1..3.times do
    = render 'sample_card'
.row.valign-wrapper.fix
  .col.s8
    %h4= t('.recent')
  .col.s4
    %a.btn-flat.waves-effect.right{:href => "#"}= t('.more')
.row
  - @last_projects.each do |project|
    = render 'card', project: project
