.row
  .col.s12
    .card
      .card-content
        %h3.center-align= t('.project_creation')
        = form_for(@project, html: { multipart: true }) do |f|
          .row
            .col.s12.m6.input-field
              = f.label :name
              = f.text_field :name, required: true, 'data-length': 30
            .col.s12.m6.input-field
              = f.label :category_id, class: 'active'
              = f.select :category_id, Category.all.map { |cat| [cat.name, cat.id] }, required: true
            .col.s12.input-field
              = f.label :description
              = f.text_area :description, required: true, 'data-length': 255, class: 'materialize-textarea'
            .col.s12.input-field
              = f.label :full_description
              = f.text_area :full_description, required: true, class: 'materialize-textarea'
            .col.s12.input-field.file-field
              .btn.waves-effect.waves-light
                %span= t('form.image')
                = f.file_field :avatar, required: true
                = f.hidden_field :avatar_cache
              .file-path-wrapper.input-field.fix
                %label{:for => "filename"}= t('.avatar')
                %input.file-path{:type => "text", :id => "filename"}
            .col.s12.m6.input-field
              = f.label :target, value: 'Target BTC'
              = f.number_field :target, value: 0.1, min: 0.1, max: 1000, step: 0.1, required: true
            .col.s12.m6.input-field
              = f.label :expiration_time, class: 'active'
              = f.text_field :expiration_time, class: 'datepicker', required: true
          .row
            .col.s12
              = f.button t('.create'), class: 'full-width waves-effect waves-light btn-large', data: {disable_with: I18n.t('form.wait')}
