.screen-width#cover
  .image{:style => "background-image: url('#{@project.avatar_url.to_s}');"}
.row.fix
  .col.s12
    %h3.shadow-header.center-align#title= @project.name
  .col.s12
    .center-align.fade#status
      - if @project.finished
        = finish_status(@project)
        = t('project.finished')
      - else
        = remain(@project)
        = t('project.remains')
.row.fix
  .col.s12.l8
    .card#project_page
      .card-stacked
        .card-action.fix
          .row.fix
            .col.s12.fade
              %b.left.hide-on-small-and-down
                = t('.deadline')
                = @project.expiration_time.strftime('%e %b %Y')
              .balance
                = humanized_money @project.balance
                \/
                = humanized_money_with_symbol @project.target
        .card-progress
          .current-progress{:style => "width: #{limited_progress(@project)};"}
        .card-content
          %p= to_markdown(@project.full_description)
        .card-action
          .row.fix
            .col.s12
              - if can?(:update, @project)
                %a.waves-effect.btn-flat.super-narrow.left{:href => edit_project_path}
                  %i.material-icons.hide-on-med-and-up#edit edit
                  %span.left.hide-on-small-and-down= t('.edit')
              %a.right{:href => category_path(@project.category)}
                .chip.waves-effect.fade= @project.category.name
              .chip.fade.right
                = @project.user.full_name
                %img.responsive-img{:src => @project.user.avatar_url(:thumb)}
  .col.s12.l4
    .row.fix.hide-on-large-only
      .col.s12
        %h4= t('.invest')
    - @project.rewards.each do |reward|
      = render 'reward', reward: reward, project: @project
.row.fix
  .col.s12
    %h4= t('.comments')
.row.fix
  = commontator_thread(@project)
