.row.fix
  .col.s12
    %h2.center-align= @project.name
.row
  .col.s12
    .card#project_page
      .card-stacked
        .card-content
          %p= to_markdown(@project.full_description)
        .card-action
          .row.fix
            .col.s4
              - if current_user
                - if current_user.author @project
                  %a.waves-effect.btn-flat.super-narrow{:href => edit_project_path}
                    %i.material-icons.hide-on-med-and-up edit
                    %span.left.hide-on-small-and-down= t('.edit')
            .col.s8.right-align
              .chip.fade= @project.category.name
              .chip.fade= @project.author_name
