<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card">
      <div class="card-content">
        <h3 class="center-align"><%= t('.new') %></h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col s12 input-field">
              <%= f.email_field :email, autofocus: true %>
              <%= f.label :email %>
            </div>

            <div class="col s12 input-field">
              <%= f.password_field :password %>
              <%= f.label :password %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="col s12 field">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me, class: 'filled-in' %>
                  <span><%= t('.remember_me') %></span>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="row">
            <div class="col s12">
              <%= f.button t('.log_in'), class: "full-width waves-effect waves-light btn-large", data: {disable_with: I18n.t("form.wait")} %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col s12 center-align">    
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>