.col.s12.m6.l4
  .card.sticky-action.hoverable#index
    %a.card-image{:href => project_path(project)}
      .image{:style => "background-image: url('#{project.avatar_url.to_s}');"}
    .card-content.fade-text
      %span.card-title.activator
        = project.name
        %i.material-icons.right more_vert
      %p
        = project.description
    .card-progress
      .current-progress{:style => "width: #{limited_progress(project)};"}
    .card-action.fix
      %ul.fade
        %li
          %b
            = project.balance.round(3)
            BTC
          = t('project.invested')
        %li
          %b
            = progress(project)
          = t('project.raised')
        %li
          - if project.finished
            %b
              = finish_status(project)
              = t('project.finished')
          - else
            %b= remain(project)
            = t('project.remains')
    .card-reveal
      %span.card-title
        = project.name
        %i.material-icons.right close
      %p= project.description
      .author.right-align
        .chip.fade
          = project.user.full_name
          %img.responsive-img{:src => project.user.avatar_url(:thumb)}
