.col.s12
  %a.card.horizontal.small.hoverable#panel{:href => project_path(project)}
    .card-image.hide-on-small-and-down
      .image{:style => "background-image: url('#{project.avatar_url.to_s}');"} 
    .card-stacked
      .card-content
        %span.card-title= project.name
        .card-progress
          .current-progress{:style => "width: #{limited_progress(project)};"}
      .card-action.fix
        .row.fade.fix
          .col.s4
            %b
              = humanized_money_with_symbol project.balance
            %br
            = t('project.invested')
          .col.s4
            %b
              = progress(project)
            %br
            = t('project.raised')
          .col.s4
            - if project.finished
              %b
                = finish_status(project)
                %br              
                = t('project.finished')
            - else
              %b= remain(project)
              %br
              = t('project.remains')
