.navbar-fixed
  %nav
    .container
      .nav-wrapper
        %ul#slide-out.sidenav
          %li
            .user-view
              - if user_signed_in?
                %i#side-avatar.circle.left{:style => 'background-image: url(' << current_user.avatar_url(:thumb) << ');'}
                %span.name= current_user.full_name
                %span.email.fade= current_user.email
              - else
                %i.material-icons.left account_circle
                %span.name= t('.guest')
                %span.email
          %li
            .divider
          - if user_signed_in?
            %li
              %a.waves-effect{:href => edit_user_registration_path}
                %i.material-icons.left settings
                = t('.settings')
            %li
              %a.waves-effect{:href => projects_path}
                %i.material-icons.left storage
                = t('.projects')
            - if current_user.admin?
              %li
                %a.waves-effect{:href => rails_admin.dashboard_path}
                  %i.material-icons.left developer_board
                  = t('.admin_panel')
            - unless current_user.validated?
              %li
                %a.waves-effect{:href => validation_path}
                  %i.material-icons.left assignment
                  = t('.validation')
            %li
              %a.waves-effect{:href => destroy_user_session_path, "data-method" => "delete"}
                %i.material-icons.left power_settings_new
                = t('.signout')
            %li
              .input-field
                = form_tag(search_path, method: 'get', role: 'search') do
                  = text_field_tag :query, nil, class: 'dark-hover', id: 'side-search', required: '', type: 'search', placeholder: t('.search')
                  %label.label-icon{:for => "side-search"}
                    %i.material-icons search
                  %input{:type => "submit", :hidden => true}
          - else
            %li
              = link_to t('.signin'), new_user_session_path, class: 'waves-effect'
            %li
              = link_to t('.signup'), new_user_registration_path, class: 'waves-effect'
        %a.button-collapse.hide-on-med-and-up{"data-target" => "slide-out", :href => "#"}
          %i.material-icons menu
        = link_to app_name, root_path, class: 'brand-logo'
        %ul#nav-mobile.right.hide-on-small-and-down
          %li
            .input-field
              = form_tag(search_path, method: 'get', role: 'search') do
                = text_field_tag :query, nil, class: 'dark-hover', id: 'search', required: '', type: 'search', placeholder: t('.search')
                %label.label-icon{:for => "search"}
                  %i.material-icons search
                %input{:type => "submit", :hidden => true}
          - if user_signed_in?
            %li
              %a.dropdown-trigger.waves-effect.left-align{"data-target" => "menu-dropdown"}
                %i#avatar.circle.left{:style => 'background-image: url(' << current_user.avatar_url(:thumb) << ');'}
                = current_user.first_name
                %i.material-icons.right arrow_drop_down
              %ul.dropdown-content#menu-dropdown
                %li
                  %a.waves-effect{:href => edit_user_registration_path}
                    %i.material-icons.left settings
                    = t('.settings')
                %li
                  %a.waves-effect{:href => projects_path}
                    %i.material-icons.left storage
                    = t('.projects')
                - if current_user.admin?
                  %li
                    %a.waves-effect{:href => rails_admin.dashboard_path}
                      %i.material-icons.left developer_board
                      = t('.admin_panel')
                - unless current_user.validated?
                  %li
                    %a.waves-effect{:href => validation_path}
                      %i.material-icons.left assignment
                      = t('.validation')
                %li
                  %a.waves-effect{:href => destroy_user_session_path, "data-method" => "delete"}
                    %i.material-icons.left power_settings_new
                    = t('.signout')
          - else
            %li
              %a.waves-effect{:href => new_user_session_path}
                = t('.signin')
            %li
              %a.waves-effect{:href => new_user_registration_path}
                = t('.signup')
